---
layout: default
---

<!-- 遍历分页后的文章 -->
<ol class="post-list">


<div class="posts">
    {% for post in paginator.posts %}
     <li>


    <div class="post">
        <h3 class="post-list__post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h3>

        <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 200 }}&hellip;</p>

        <p class="post-meta">
        <span class="home-post-date">
            {{ post.date | date: "%Y-%m-%d" | upcase }}
        </span>
        {% if post.categories.size > 0 %}
        •
        {% for cat in post.categories %}
        <span>
          <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
        </span>
        {% unless forloop.last %}

        {% endunless %}
        {% endfor %}
        {% endif %}
        </p>

        <div class = "post-list-small-mate">
            <a class="btn-border-small" href={{ post.url }}>阅读全文</a>
        </div>
    </div>
    {% endfor %}
</div>
