<script type="text/javascript" src="{{ site.url }}/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/main.js"></script>
<div class="busuanzi-count">

  <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>


    <span class="site-uv"><i class="fa fa-user"></i><span class="busuanzi-value" id="busuanzi_value_site_uv"></span></span>



    <span class="site-pv"><i class="fa fa-eye"></i><span class="busuanzi-value" id="busuanzi_value_site_pv"></span></span>


</div>
