---
layout: default
---
<!-- mathjax -->
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<!-- 判断是否插入首页图片 -->
{% if page.image.feature %}
<div class="post-image-feature">
    <img class="feature-image" src=
        {% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
        "{{ page.image.feature }}"
        {% else %}
        "{{ site.url }}/img/{{ page.image.feature }}"
        {% endif %}
        alt="{{ page.title }} feature image">

        {% if page.image.credit %}
        <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
        {% endif %}
</div>
{% endif %}

<!-- 添加日期和阅读 -->
<div id="post">
    <header class="post-header">
        <span class="post-meta">
            <span class="post-date">
                {{ page.date | date: "%Y-%m-%d" | upcase }}
            </span>
            •
            {% include read_time.html %}
        </span>
        <h1 title="{{ page.title }}">{{ page.title }}</h1>
    </header>

    <!-- 引入google code pretiffy高亮样式 -->
    <link href="/js/google-code-prettify/themes/github-v2.css" rel="stylesheet" type="text/css" />

    <!-- 添加博文 -->
    <article class="post-content">
        {{ content }}
    </article>
</div>


<!-- 引入google code pretiffy -->
<script src="/js/jquery.min.js"></script>
<script src="/js/google-code-prettify/prettify.js"></script>
<script type="text/javascript">
    $(function(){
      $("pre").addClass("prettyprint linenums");
      prettyPrint();
      });
    </script>

<!-- 添加博文分割线 -->
<hr class="post-list__divider" />
{% include new-old.html %}

<!-- disqus评论框 start -->
<!-- {% include disqus.html %} -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '{{ site.owner.disqus-shortname }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
